<header>
  <a href="/">
    <img src="/images/logo.png" class="logo-img" alt="woman dressed in green wearing pink crown and checking statistics on her phone">
  </a>

  <nav>
    <!-- Logic to check if user is logged in - then display New activity & Log out -->
    <a href="/">HOME</a>
    <a href="/">SIGN UP</a>
    <a href="/">LOG IN</a>
  </nav>
</header>