<header>
  <div class="">
    <a href="/">
      <img src="/images/logo.png" class="" alt="">
    </a>
    <div class="">
      <h1 class="">Pace Queen</h1>
    </div>
  </div>


  <nav>
    <a href="/">HOME PAGE</a>
    <a href="/">SIGN UP</a>
    <a href="/">LOG IN</a>
  </nav>
</header>