<title>Pace Queen | view title to be imported</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/static/styles.css">
<link rel="icon" href="/images/icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/f5ed9082ee.js" crossorigin="anonymous"></script>