<header>
  <div class="">
    <a href="/">
      <img src="/images/logo.png" class="" alt="" />
    </a>
    <div class="">
      <p class="">Pace Queen</p>
    </div>
  </div>

  <nav>
    <!-- Logic to check if user is logged in - then display New activity & Log out -->
    <a href="/">HOME</a>
    <a href="/">SIGN UP</a>
    <a href="/login">LOG IN</a>
  </nav>
</header>
