@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-black: #000;
  --primary-white: #fff;
  --green-dark: #226e51;
  --green-light: #419777;
  --pink-light: #d9b4c7;
  --pink-medium: #be84a3;
  --pink-dark: #935c7a;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white);
  min-width: 250px;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 7em;
  gap: 2em;
  width: 100%;
  border-bottom: 1px solid var(--pink-light);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.logo-img {
  height: 15rem;
  width: auto;
}

/* Navbar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

nav > a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
  letter-spacing: 3px;
  color: var(--primary-dark);
}

nav > a:hover {
  text-decoration: underline var(--green-dark) wavy;
}

/* Main */

main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  padding: 1em;
  margin: 1em;
  gap: 1em;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
}

.homepage-header {
  color: var(--pink-medium);
}

.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
}

.homepage-img {
  width: 18em;
  height: auto;
  border-radius: 0.5rem; /* rounded */
  box-shadow: 0 25px 50px -12px var(--pink-light);
}

/* Footer */

footer {
  width: 100%;
  background-color: var(--green-dark);
  color: var(--primary-white);
  padding: 1.5rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
