@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-black: #000;
  --primary-white: #fff;
  --green-dark: #226e51;
  --green-light: #419777;
  --pink-light: #d9b4c7;
  --pink-medium: #be84a3;
  --pink-dark: #935c7a;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-white);
}

h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  gap: 2em;
  width: 100%;
}

.logo-img {
  height: 15rem;
  width: auto;
}

/* Navbar */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75em;
}

nav > a {
  text-decoration: none;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
  letter-spacing: 3px;
  color: var(--primary-dark);
}

nav > a:hover {
  text-decoration: underline var(--green-dark) wavy;
}
