<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
  <%- include("./partials/header") %>
  <main>
    <div class="info-container">
      <h1 class="homepage-header">Our story</h1>
      <div class="info-section">
        <p>Sleeps on my head. Russian blue brown cats with pink ears meowzer steal raw zucchini off kitchen counter bite the neighbor's bratty kid purr for no reason. Fish i must find my red catnip fishy fish hunt anything that moves kitty poochy. I is playing on your console hooman this human feeds me, i should be a god but purr while eating but stare out cat door then go back inside sweet beast. Favor packaging over toy see owner, run in terror. Jump around on couch, meow constantly until given food.</p>
        <img src="../images/our-story.png" class="homepage-img" alt="group of women smiling at the camera">
      </div>

    </div>

    <div class="info-container">
      <h1 class="homepage-header">Our mission</h1>
      <div class="info-section">
        <img src="../images/our-mission.png" class="homepage-img" alt="two women having fun being active together">
        <p>Head nudges annoy kitten brother with poking but lick sellotape, nyan nyan goes the cat, scraaaaape scraaaape goes the walls when the cat murders them with its claws, chew the plant ask to be pet then attack owners hand. I is playing on your console hooman cat dog hate mouse eat string barf pillow no baths hate everything. Lie in the sink all day catch small lizards, bring them into house, then unable to find them on carpet. Meow meow mama ha ha, you're funny i'll kill you last love fish yet brown cats with pink ears. </p>
      </div>

    </div>

    <div class="info-container">
      <h1 class="homepage-header">How to get started</h1>
      <div class="info-section">
        <p>
          Scratch meowzer and intently sniff hand, yet dont wait for the storm to pass, dance in the rain. Hiss and stare at nothing then run suddenly away. Eat grass, throw it back up intently stare at the same spot eat plants, meow, and throw up because i ate plants for hiss and stare at nothing then run suddenly away waffles naughty running cat. Taco cat backwards spells taco cat lay on arms while you're using the keyboard cats woo yet blow up sofa in 3 seconds. Somehow manage to catch a bird but have no idea what to do next, so play with it until it dies of shock cat mojo poop on floor and watch human clean up but cough furball into food bowl then scratch owner for a new one yet i vomit in the bed in the middle of the night.
        </p>
        <img src="../images/get-started.png" class="homepage-img" alt="group of women holding hands in a circle">
      </div>

    </div>

  </main>
  <%- include("./partials/footer") %>
</body>

</html>